html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.contentWrap::after, #top .movies::after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
}

.subContent .menu li, .subContent .socialLinks a, #top header .logo, #top .mainContent h1, #archives header h1 .logo,
#articles header h1 .logo {
  font-family: 'Poiret One', cursive;
  font-size: 30px;
}

a,
a:visited {
  color: #000;
  text-decoration: none;
}
a:hover,
a:visited:hover {
  color: #f00;
  text-decoration: none;
}

.hidden {
  visibility: hidden;
}

.contentWrap {
  position: relative;
  width: 1027px;
  margin: 0 auto;
}

.mainContent {
  float: left;
  width: 750px;
  margin-right: 24px;
}

.subContent {
  float: left;
  width: 250px;
}
.subContent .menu li {
  display: block;
  margin-bottom: 30px;
}
.subContent .socialLinks a {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
  line-height: 50px;
}
.subContent .socialLinks a.line {
  background-color: #00C500;
}
.subContent .socialLinks a.twitter {
  background-color: #4DA8EF;
}
.subContent .socialLinks a.facebook {
  background-color: #39579B;
}

footer {
  font-size: 0.8em;
  margin-top: 30px;
  background-color: #000;
}
footer p {
  width: 1024px;
  margin: 0 auto;
  padding: 20px 0;
  color: #fff;
  text-align: center;
}

.pager {
  font-size: 0.8em;
  text-align: center;
}
.pager .index-navigator li {
  display: inline-block;
}
.pager .index-navigator a, .pager .index-navigator span {
  display: block;
  width: 2em;
  height: 2em;
  color: #f00;
  text-align: center;
  line-height: 2em;
}
.pager .paging-number li a:hover {
  background-color: #f00;
  color: #fff;
}
.pager .paging-number li span {
  background-color: #f00;
  color: #fff;
}

.pageScroll {
  position: absolute;
  right: 0;
  bottom: -110px;
  display: block;
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  background: url("../img/to_pagetop.png") 0 0 no-repeat;
}

#top header {
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
  background-image: url("../img/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#top header h1 {
  position: relative;
  width: 1024px;
  margin: 0 auto;
}
#top header .logo {
  position: relative;
  left: 320px;
  top: 430px;
  font-size: 50px;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
#top .mainContent h1 {
  position: relative;
  margin-bottom: 20px;
}
#top .mainContent h1::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  border-top: solid 1px #000;
  z-index: 0;
}
#top .mainContent h1 span {
  position: relative;
  padding: 0 10px 0 0;
  background-color: #fff;
  z-index: 1;
}
#top .mainContent section {
  margin: 0 20px 20px 0;
}
#top .movie {
  float: left;
  width: 230px;
  margin-right: 20px;
}
#top .movie:last-of-type {
  margin-right: 0;
}
#top .shows .show {
  position: relative;
  padding: 0 20px;
  border-bottom: 1px dotted #000;
}
#top .shows .show:last-of-type, #top .shows .show:only-of-type {
  border-bottom: 0 none;
}
#top .shows .show .place {
  font-size: 20px;
  color: #f00;
}
#top .shows .show .place .date {
  display: inline-block;
  padding-right: 1em;
}
#top .shows .show .detail {
  margin-top: 1em;
  line-height: 1.5;
}
#top .shows .show a {
  display: inline-block;
  position: relative;
  left: 600px;
  margin-top: 20px;
}
#top .vote p {
  margin-bottom: 10px;
  line-height: 1.5;
}
#top .vote p span {
  display: block;
  margin-top: 5px;
  color: #f00;
}

#archives header,
#articles header {
  position: relative;
  height: 100px;
  background-color: #000;
}
#archives header h1,
#articles header h1 {
  position: relative;
  left: 50%;
  width: 1024px;
  height: 100px;
  margin-left: -512px;
  text-align: center;
}
#archives header h1 .logo,
#articles header h1 .logo {
  position: relative;
  bottom: -25px;
  font-size: 3em;
}
#archives header h1 .logo a,
#articles header h1 .logo a {
  color: #fff;
}
#archives .mainContent,
#articles .mainContent {
  margin-top: 30px;
}
#archives .mainContent .archive h1,
#archives .mainContent .article h1,
#articles .mainContent .archive h1,
#articles .mainContent .article h1 {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
  font-size: 2em;
  word-break: break-all;
}
#archives .subContent,
#articles .subContent {
  margin-top: 30px;
}
#archives footer,
#articles footer {
  margin-top: 30px;
  background-color: #000;
}
#archives footer p,
#articles footer p {
  color: #fff;
}

#archives .archive {
  margin-bottom: 100px;
}
