@charset "utf-8";
@import "compass";
@import "compass/reset";

$base_url:'http://design-check.dreamlog.jp/';

%clearfix_afterblock{
	content:"";
	display:block;
	clear:both;
	overflow:hidden;
}
%headline_font{
	font-family:'Poiret One', cursive;
	font-size:30px;
}

a,
a:visited{
	color:#000;
	text-decoration:none;
	&:hover{
		color:#f00;
		text-decoration:none;
	}
}
.hidden{
	visibility:hidden;
}

.contentWrap{
	position:relative;
	width:1027px;
	margin:0 auto;
	&::after{
		@extend %clearfix_afterblock;
	}
}
.mainContent{
	float:left;
	width:750px;
	margin-right:24px;
}
.subContent{
	float:left;
	width:250px;
	.menu{
		li{
			@extend %headline_font;
			display:block;
			margin-bottom:30px;
		}
	}
	.socialLinks{
		a{
			@extend %headline_font;
			display:block;
			width:100%;
			height:50px;
			margin-bottom:20px;
			color:#fff;
			text-align:center;
			line-height:50px;
			&.line{
				background-color:#00C500;
			}
			&.twitter{
				background-color:#4DA8EF;
			}
			&.facebook{
				background-color:#39579B;
			}
		}
	}
}
footer{
	font-size:0.8em;
	margin-top:30px;
	background-color:#000;
	p{
		width:1024px;
		margin:0 auto;
		padding:20px 0;
		color:#fff;
		text-align:center;
	}
}
.pager{
	font-size:0.8em;
	text-align:center;
	.index-navigator{
		li{
			display:inline-block;
		}
		a,span{
			display:block;
			width:2em;
			height:2em;
			color:#f00;
			text-align:center;
			line-height:2em;
		}
	}
	.paging-number{
		li{
			a{
				&:hover{
					background-color:#f00;
					color:#fff;
				}
			}
			span{
				background-color:#f00;
				color:#fff;
			}
		}
	}
}
.pageScroll{
	position:absolute;
	right:0;
	bottom:-110px;
	display:block;
	width:70px;
	height:70px;
	margin-bottom:10px;
	background:url("../img/to_pagetop.png") 0 0 no-repeat;
}
