@charset "utf-8";

#archives,
#articles{
	header{
		position:relative;
		height:100px;
		background-color:#000;
		h1{
			position:relative;
			left:50%;
			width:1024px;
			height:100px;
			margin-left:-512px;
			text-align:center;
			.logo{
				@extend %headline_font;
				position:relative;
				bottom:-25px;
				font-size:3em;
				a{
					color:#fff;
				}
			}
		}
	}
	.mainContent{
		margin-top:30px;
		.archive,
		.article{
			h1{
				margin-bottom:30px;
				padding-bottom:10px;
				border-bottom:1px solid #000;
				font-size:2em;
				word-break:break-all;
			}
		}
	}
	.subContent{
		margin-top:30px;
	}
	footer{
		margin-top:30px;
		background-color:#000;
		p{
			color:#fff;
		}
	}
}

// only archives page class
#archives{
	.archive{
		margin-bottom:100px;
	}
}
