@charset "utf-8";
@import "common";

#top{
	header{
		width:100%;
		height:500px;
		margin-bottom:20px;
		background-image:url("../img/bg.jpg");
		background-position:center center;
		background-repeat:no-repeat;
		//background-attachment:fixed;
		background-size:cover;
		h1{
			position:relative;
			width:1024px;
			margin:0 auto;
		}
		.logo{
			@extend %headline_font;
			position:relative;
			left:320px;
			top:430px;
			font-size:50px;
			color:#fff;
			text-shadow:1px 1px 1px #000;
		}
	}
	.mainContent{
		h1{
			position:relative;
			@extend %headline_font;
			margin-bottom:20px;
			&::before{
				content:'';
				display:block;
				position:absolute;
				top:50%;
				width:100%;
				height:1px;
				border-top:solid 1px #000;
				z-index:0;
			}
			span{
				position:relative;
				padding:0 10px 0 0;
				background-color:#fff;
				z-index:1;
			}
		}
		section{
			margin:0 20px 20px 0;
		}
	}
	.movies{
		&::after{
			@extend %clearfix_afterblock;
		}
	}
	.movie{
		float:left;
		width:230px;
		margin-right:20px;
		&:last-of-type{
			margin-right:0;
		}
	}
	.shows{
		.show{
			position:relative;
			padding:0 20px;
			border-bottom:1px dotted #000;
			&:last-of-type,
			&:only-of-type{
				border-bottom:0 none;
			}
			.place{
				font-size:20px;
				color:#f00;
				.date{
					display:inline-block;
					padding-right:1em;
				}
			}
			.detail{
				margin-top:1em;
				line-height:1.5;
			}
			a{
				display:inline-block;
				position:relative;
				left:600px;
				margin-top:20px;
			}
		}
	}
	.vote{
		p{
			margin-bottom:10px;
			line-height:1.5;
			span{
				display:block;
				margin-top:5px;
				color:#f00;
			}
		}
	}
}

@import "subpages";
